<% include ../partials/head %>

<div class="container ">
    <div class="row">    
        <h1><center>Registration Form<center></h1>
        <div class="generic-form">    
            <form action="/register" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="User Name" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="firstname" placeholder="First Name" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="lastname" placeholder="Last Name" required>
                </div>

                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="john@example.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" id="signUpPass" name="password" placeholder="Password" minlength="8" maxlength="15" required>
                    <small class="pull-right"><input id="passCheck" type="checkbox" onclick="showPassword()"><label for="passCheck">Show Password</label></small>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block">SignUp</button>
                </div>
                <a href="/campgrounds">Go Back&nbsp;&nbsp;</a>
                <a href="/login">Login</a>
            </form>
        </div>
    </div>
</div>
<% include ../partials/foot %>