<% include ../partials/head %>

<div class="container ">
    <div class="row">    
        <h1><center>Registration Form<center></h1>
        <div class="generic-form">    
            <form action="/register" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="User Name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" id="signUpPass" name="password" placeholder="Password" minlength="8" maxlength="15">
                    <small class="pull-right"><input id="passCheck" type="checkbox" onclick="showPassword()"><label for="passCheck">Show Password</label></small>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block">SignUp</button>
                </div>
                <a href="/campgrounds">Go Back</a>
            </form>
        </div>
    </div>
</div>
<% include ../partials/foot %>