body{
    min-height:100%;
}
.thumbnail img{
    width : 100%;
}

.thumbnail{
    padding: 0;
}

.userCase{
    text-transform: capitalize;
    font-weight: bold;
}

.generic-form{
    width:50%;
    margin:30px auto;
}

.delete-comment{
    background-color: transparent;
    border:none;
    color:#337ab7;
    -webkit-appearance: none;
}

.delete-comment:hover{
    background-color: transparent;
    border:none;
    color:rgb(0, 75, 145);
    -webkit-appearance: none;
}

#delete-form{
    display: inline;
}

#logo{
    display: inline;
    max-height: 100% ;
}

#comment-author{
    margin-right: 10px;
}