<% include partials/head %>

<div class="container">
    <header class="jumbotron">
        <div class="container">    
            <h1>Welcome to YelpCamp!</h1
            <p>Check out our hand-picked campgrounds from all over the world.</p>
            <p>
                 <a class="btn btn-primary" href="/campgrounds/new">Add a new CampGround</a>
            </p>
        </div>
    </header>
    
    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
        <% location.forEach(function(x){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= x.image %>">
                    <div class="caption">
                        <h4><%= x.name %></h4>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>


<% include partials/foot %>